.steppercontainer {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  padding: 10px 20px;
  text-align: center;
display: flex;
justify-content: center;

}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  /* margin: 0 auto 40px auto; */
  position: relative;

  
    width: 100%;
}

.step {
  text-align: center;
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.step::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -50%;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  z-index: -1;
}

.step:first-child::before {
  content: none;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d3d3d3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bold;
  transition: 0.3s;
}

.active .circle {
  background: #007bff;
}

.completed .circle {
  background: #28a745;
}

.label {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.controls button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.controls button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
