.container {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.section {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
}

.header {
  background-color: #f5f6f7;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
}

.formContainer {
  padding: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.formControl{
  width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
  .buttonContainer {
    justify-content: center;
  }
}


.fieldContainer{
      display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  height: 40px;
}


.fieldContainer {
  margin-bottom: 16px;
}

.MuiFormHelperText-root {
  font-size: 0.8rem;
}

.errorText {
  color: #dc3545;
  font-size: 0.9rem;
  /* margin-top: 5px; */
  margin: 0;
}

.errorInput {
  border-color: #dc3545 !important;
  box-shadow: 0 0 4px rgba(220, 53, 69, 0.4);
  height: 40px;
}